.adviseBox{
    border: solid #E48D0A 2px;
    margin-right: 22px;
    border-radius: 10px;
    height: calc(100vh - 120px);
    margin-top: 70px;
    width: 225px;
    position: fixed;
    right: -12px;
    top: 10px;
    overflow: auto;
}

.adviseBox >h3{
    display: flex;
    gap:5px;
    color: var(--default-white);
    background-color: #E48D0A;
    padding: 10px 65px;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
}

.adviseBox >p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

.adviseBox>div{
    max-height: 92%;
    overflow-y: auto;
}

ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    height: max-content;
    padding-bottom: 10px;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e48d0aa8;
    width: 90%;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    box-shadow: #0000004a 0 4px 4px 0;
    flex-direction: column;
}

.container{
  background-color: white;
  width: max-content;
  border-radius: 10px;
  padding: 2px;
  animation-name: backInUp;
  animation-duration: 0.5s;
}



@media (max-width: 750px) and (min-height: 500px) {
    .adviseBox{
        position: unset;
        width: 20p;
        margin: auto;
        width: 50vw;
        margin-top: 40px;
        height: 230px;
    }
}

@media (max-height: 500px) {

    .adviseBox{
        height: calc(100vh - 180px);
    }
}


.adviseBox2{
  border: solid #E48D0A 2px;
  border-radius: 10px;
  height: 50vh;
  width: 26vw;
  overflow: hidden;
}

.adviseBox2 >h3{
  display: flex;
  gap:5px;
  color: var(--default-white);
  background-color: #E48D0A;
  padding: 10px 65px;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-items: center;
}

.adviseBox2 >p{
  text-align: center;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.adviseBox2>div{
  height: 87%;
  overflow-y: auto;
}

.btn-close{
  position: absolute;
  right: 5px;
  top: 5px;
}



@media (max-width: 750px) and (min-height: 500px) {
  .adviseBox2{
      position: unset;
      width: 20p;
      margin: auto;
      width: 50vw;
      margin-top: 40px;
      height: 230px;
  }
}

@media (max-height: 500px) {

  .adviseBox2{
      height: calc(100vh - 180px);
  }
}
