<div class="modal fade" id="AddUserPanel" tabindex="-1" aria-labelledby="AddUserPanel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeAddUserPanel" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form novalidate [formGroup]="userform" (ngSubmit)="editUser()">
                <label for="email">
                    <p>Correo electrónico</p>
                    <input class="form-control" (keyup)="checkvalid($event)" type="email" name="email" id="email" formControlName="email" placeholder="Correo electrónico" required>
                </label>

                <p *ngIf="error" class="error" id="error" [innerHTML]="errorMessage"></p>
                <input class="btn" type="submit" value="Añadir" [disabled]="!userform.valid">
            </form>
        </div>
      </div>
    </div>
</div>