
.container{
  background-color: var(--default-light-blue);
  border-radius: 10px;
  padding: 10px;
  width: max-content;
  animation-name: backInUp;
  animation-duration: 0.5s;
}

.modal-content{
    background-color: var(--default-light-blue);
}

.modal-body{
  min-width: 50vw;
}

.new{
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: #00000054 0 4px 4px 0;
    font-weight: bold;
}


.new>i, .edit>i{
    font-size: 1.4em;
    color: var(--default-dark-blue);
    height: max-content;
    justify-content: center;
    display: flex;
    align-items: center;
}

.edit>i{
    color:white
}

.edit{
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: #00000054 0 4px 4px 0;
    font-weight: bold;
    float: right;
    background: var(--default-dark-blue);
    color: white;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    margin-top: 35px;
    flex-wrap: wrap;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.336) 0 4px 4px 0;
    flex-direction: column;
    gap:6px;
}

li>img{
    width: 75px;
}

li>p{
    margin: 0;
}

.chartBox{
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #00000047 0px 4px 4px 0px;
}

apx-chart{
    width: 100%;
}

.chartBox >h1{
    margin-bottom: 25px;
    margin-top: 10px;
}

.modal-title {
    margin-bottom: 0;
    color: white;
    width: max-content;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    font-weight: 1.5em;
    font-size: 2em;
}

.modal-title>p{
    margin: 0;
}

.selectordiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selectordiv>select{
    padding: 5px;
    font-size: 1.2em;
    border-radius: 6px;
    border: #9b9b9b 1.5px solid;
}

.close{
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 1.5em;
  width: 35px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  border: none;
  font-weight: bold;
  font-family: cursive;
}

.close:hover{
  color: rgb(248, 59, 59);
}
