<div class="container" id="historyShow" tabindex="-1" aria-labelledby="historyShow">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Historial de <p *ngIf="this.dataService.actZone.id>0">{{this.dataService.actZone.name}}</p></h5>
          <button type="button" class="btn-close close" id="closehistoryShow" (click)="close()">X</button>
        </div>
        <div class="modal-body">
            <div class="adviseBox">

              <div class="chartBox" id="chartdev">
                <h1>Historial</h1>
                <apx-chart *ngIf="reloadChart"
                  id="chartdevchart"
                  [series]="devchartOptions['series']"
                  [chart]="devchartOptions['chart']"
                  [labels]="devchartOptions['labels']"
                  [responsive]="devchartOptions['responsive']"
                  [colors]="devchartOptions['colors']"
                  [fill]="devchartOptions['fill']"
                  [stroke]="devchartOptions['stroke']"
                  [dataLabels]="devchartOptions['dataLabels']"
                  [legend]="devchartOptions['legend']"
                  [xaxis]="devchartOptions['xaxis']"
                ></apx-chart>
                <div class="selectordiv" *ngIf="this.dataService.devices.length>1">
                  <select *ngFor="let value of values | keyvalue" id="{{value.key}}" (change)="changeDevice($event)">
                    <option value="">Ninguno</option>
                    <option value="{{dev.id}}" *ngFor="let dev of this.dataService.devices">{{dev.name +" ("+ dev.types[0].name}}<p *ngIf="dev.types[0].name=='soil Moisture'"> / m3m-3*100</p> <p *ngIf="dev.types[0].name.includes('temperature')"> / C</p> )</option>
                  </select>
                </div>

            </div>
               <!-- <p *ngIf="devices.length == 0"> No hay dispositivos</p>
                <ul>
                   <li data-bs-toggle="modal" data-bs-target="#EditDev" (click)="setDevice(device)" *ngFor="let device of devices">
                    <img src="{{setImage(device.types)}}">
                    <p>{{device.name}}</p>
                   </li>
                </ul>-->
            </div>
        </div>
      </div>
    </div>
</div>
