<section>
    <h2>{{this.dataService.actZone.name}}</h2>
    <button *ngIf='isButtonVisible(["admin","zones"])' class="conf" (click)="this.showZone=true"><i class="bi bi-gear-fill"></i>Configuración</button>
    <button class="close" (click)="closePanel()" >X</button>
    <div class="box">
        <div class="info" *ngIf='isButtonVisible(["admin","irrigate"])'>
          <div *ngFor="let types of this.devicesTypes | keyvalue">
            <div [ngClass]="types.value['class']" *ngIf='this.devicesclasified[types.key].length>0 && this.devicesclasified[types.key][0].info'>
              <p>{{types.value["title"]}}</p>
              <div>
                  <img src='{{types.value["img"]}}'>
                  <p id='{{"Info "+types.key}}'>{{types.value['value']}}</p>
              </div>
              <select (change)="changeValue(types.key,$event)" *ngIf="this.devicesclasified[types.key].length>1">
                  <option *ngFor="let dev of this.devicesclasified[types.key]" value="{{dev.id}}" >{{dev.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="actions">
            <button (click)="this.dataService.devices=[]" *ngIf="this.dataService.devices.length>0 && isButtonVisible(['admin','history'])" class="blue" [routerLink]='["/history"]' [state]="{ name:this.dataService.actZone}"><img src="../../../assets/graph.png"> Historial</button>
            <button (click)="changeIrrigate()" *ngIf='devicesclasified["irrigate"].length>0 && !this.irrigate && isButtonVisible(["admin","irrigate"])' class="green"><img src="../../../assets/water.png"> Regar</button>
            <button (click)="changeIrrigate()" *ngIf='devicesclasified["irrigate"].length>0 && this.irrigate && isButtonVisible(["admin","irrigate"])' class="irrigate"><img src="../../../assets/water.png"> Regando...</button>
            <button *ngIf='devicesclasified["camera"].length>0 && isButtonVisible(["admin","camera"])' class="gray" (click)="this.showCameras=true"><img src="../../../assets/camera.png"> Cámaras</button>
            <button class="gray" (click)="this.showDevices=true"><img src="../../../assets/device.png"> Dispositivos</button>
            <button class="yellow"(click)="showAdvise=true"><img src="../../../assets/settings.png"> Avisos</button>
        </div>
    </div>
</section>

<app-general-list (setDeviceEvent)="this.classify()" (closeEvent)="this.showDevices=false" *ngIf="this.showDevices" [title]="'Dispositivos'" [type]="'device'"></app-general-list>
<app-general-list (closeEvent)="this.showCameras=false" *ngIf="this.showCameras" [title]="'Cámaras'" [type]="'camera'"></app-general-list>

<app-general-form (deleteEvent)="this.deleteZone.emit()" *ngIf="this.showZone && isButtonVisible(['admin','zones'])" (closeEvent)="this.showZone=false" [elements]="zoneElements" [formGroup]="zoneFormGroup" [title]="'Crear Zona'" [error]="errorMessage"  [editedItem]="this.dataService.actZone" (submited)="createZone($event)"></app-general-form>
<app-advisor (closeEvent)="this.showAdvise=false" *ngIf="showAdvise"></app-advisor>
