<div class="modal fade" id="EditZone" tabindex="-1" aria-labelledby="EditZone" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span *ngIf="this.dataService.actZone.id>0">Editar </span><span *ngIf="this.dataService.actZone.id<=0">Crear </span> Zona <span *ngIf="this.dataService.actZone.id>0">{{this.dataService.actZone.name}}</span></h5>
          <button type="button" (click)="restore()" class="btn-close" data-bs-dismiss="modal" id="closeEditZone" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form novalidate [formGroup]="zoneform" (ngSubmit)="editZone()">
                <label for="name">
                    <p>Nombre</p>
                    <input class="form-control" (keyup)="checkvalid($event)" type="text" minlength="2" maxlength="50" name="name" id="name" formControlName="name" placeholder="Nombre" required>
                </label>

                <label for="country">
                    <p>País</p>
                    <select (change)="changeCountry($event)" id="countrySelect" class="form-select" aria-label="country" formControlName="country">
                        <option selected value="">Selecciona un país</option>
                        <option *ngFor="let country of countries" values="country" >{{country}}</option>
                      </select>

                </label>
                <label for="location">
                    <p>Marca la ubicación de la zona de cultivo</p>
                    <div id="map2"></div>
                </label>

                <p (click)="showExtra=!showExtra" class="expand">Opciones Extras<i *ngIf="!showExtra" class="bi bi-caret-down-fill"></i><i *ngIf="showExtra" class="bi bi-caret-up-fill"></i></p>
                <p class="info" *ngIf="showExtra">Estas opciones permiten que el panel te avise si alguno de los sensores de la zona sobrepasa o
                  recuce los niveles establecidos.</p>
                <label for="soil_moisture" *ngIf="showExtra">
                  <p>Humedad del suelo</p>
                  <input class="form-control" (keyup)="checkvalid($event)" type="number" name="max_soil_moisture" id="max_soil_moisture" formControlName="max_soil_moisture" placeholder="Máxima">
                  <input class="form-control" (keyup)="checkvalid($event)" type="number" name="min_soil_moisture" id="min_soil_moisture" formControlName="min_soil_moisture" placeholder="Mínima">
                </label>
                <label for="soil_temp" *ngIf="showExtra">
                  <p>Temperatura del suelo</p>
                  <input class="form-control" (keyup)="checkvalid($event)" type="number" name="max_soil_temp" id="max_soil_temp" formControlName="max_soil_temp" placeholder="Máxima">
                  <input class="form-control" (keyup)="checkvalid($event)" type="number" name="min_soil_temp" id="min_soil_temp" formControlName="min_soil_temp" placeholder="Mínima">
                </label>
                <label for="air_temp" *ngIf="showExtra">
                  <p>Temperatura del aire</p>
                  <input class="form-control" (keyup)="checkvalid($event)" type="number" name="max_air_temp" id="max_air_temp" formControlName="max_air_temp" placeholder="Máxima">
                  <input class="form-control" (keyup)="checkvalid($event)" type="number" name="min_air_temp" id="min_air_temp" formControlName="min_air_temp" placeholder="Mínima">
                </label>
                <p *ngIf="error" class="error" id="error" [innerHTML]="errorMessage"></p>
                <input class="btn" type="submit" [value]="button" [disabled]="!zoneform.valid">
            </form>
        </div>
      </div>
    </div>
</div>
