<div class="container center position-fixed">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="container center overflow-auto pt-2">
    <form novalidate [formGroup]="registry" (ngSubmit)="onSubmit()">
        <h1>Registro</h1>
        <label for="name">
            <i class="bi bi-person-fill"></i>
            <input class="form-control" (keyup)="checkvalid($event)" minlength="2" maxlength="50" type="text" name="name" id="name" formControlName="name" placeholder="Nombre" required>
        </label>
        <label for="email">
            <i class="bi bi-envelope-fill"></i>
            <input class="form-control" (keyup)="checkvalid($event)" minlength="5" maxlength="50" type="email" name="email" id="email" formControlName="email" placeholder="Correo electrónico" required>
        </label>
        <label for="password">
            <i class="bi bi-lock-fill"></i>
            <input class="form-control" (keyup)="checkvalid($event)" minlength="8" type="password" name="password" id="password" formControlName="password" placeholder="Contraseña" required>
        </label>
        <label for="repassword">
            <i class="bi bi-lock-fill"></i>
            <input class="form-control" (keyup)="checkvalid($event)" minlength="8" type="password" name="repassword" id="repassword" formControlName="repassword" placeholder="Repetir contraseña" required>
        </label>
        <p *ngIf="error" class="error" id="error" [innerHTML]="errorMessage"></p>
        <div *ngIf="loading" class="spinner-border" role="status">
        </div>
        <input class="btn" type="submit" value="Registrarse" [disabled]="!registry.valid">
        <hr width="130%" size="5">
        <a class="btn mt-0" [routerLink]='["/"]'> Iniciar sesión </a>
    </form> 
</div>