<div class="main-box">
    <div class="filter">
        <div>
            <p>Nombre de zona</p>
            <input id="filtername" type="text" min="0" max="50" (keyup)="filter($event)">
        </div>
        <div>
            <p>País</p>
            <select id="filtercountry" (change)="filter($event)">
                <option value="">Selecciona un país</option>
                <option  *ngFor="let country of countries " value="{{country}}">{{country}}</option>
            </select>
        </div>

    </div>
    <div class="zone-box">
        <h3>Lista de zonas</h3>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>País</th>
                  </tr>
            </thead>
            <tbody>
                <tr (click)="openHistory(zone)" *ngFor="let zone of backUpZones">
                    <td style="display: none;">{{zone.id}}</td>
                    <td>{{zone.name}}</td>
                    <td>{{zone.country}}</td>
                </tr>
                <tr *ngIf="initialLoading"><td colspan="4" class="text-center"> <div class="spinner-border color-blue" role="status"></div></td></tr>
                <tr class="noZone" *ngIf="this.dataService.zones.length==0 && !initialLoading">
                    <td colspan="4">No hay zonas</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div id="map3"></div>
</div>

<modal-history-show *ngIf="this.dataService.devices.length>0 && loadedDevices"></modal-history-show>
<button class="new d-none" data-bs-toggle="modal" data-bs-target="#historyShow" id="historyShowbut"><i class="bi bi-plus-circle" ></i></button>
