<div class="modal fade" id="EditDev" tabindex="-1" aria-labelledby="EditDev" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span *ngIf="this.actDev.id>0">Editar </span><span *ngIf="this.actDev.id<=0">Crear </span> Dispositivo <span *ngIf="this.actDev.id>0">{{this.actDev.name}}</span></h5>
          <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" id="closeEditDev" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form novalidate [formGroup]="devform" (ngSubmit)="editDev()">
                <label for="name">
                    <p>Nombre</p>
                    <input class="form-control" (keyup)="checkvalid($event)" type="text" minlength="2" maxlength="50" name="name" id="name" formControlName="name" placeholder="Nombre" required>
                </label>

                <label for="dev_id">
                    <p>Identificador del dispositivo</p>
                    <input class="form-control" (keyup)="checkvalid($event)" type="text" minlength="2" maxlength="50" name="dev_id" id="dev_id" formControlName="dev_id" placeholder="Identificador" required>
                </label>

                <label for="type">
                    <p>Tipo de dispositivo</p>
                    <div class="form-check form-switch" *ngFor="let typew of types">
                        <input (click)="editType($event)" class="form-check-input" type="checkbox" [value]="typew.id" [id]="typew.name">
                        <label class="form-check-label" for="typew.name">{{tranlate(typew.name)}}</label>
                    </div>
                </label>

                <label for="camera" *ngIf="createdTypes.includes('5')">
                    <p>Url</p>
                    <input class="form-control" (keyup)="checkvalid($event)" type="url" minlength="2" maxlength="50" name="url" id="url" formControlName="url" placeholder="Url">
                </label>

                <p *ngIf="error" class="error" id="error" [innerHTML]="errorMessage"></p>
                <input class="btn" type="submit" [value]="button" [disabled]="!devform.valid">
            </form>
            <button *ngIf="this.actDev.id>0" class="btn red" (click)="DeleteDevice()"  >Eliminar dispositivo</button>
        </div>
      </div>
    </div>
</div>