
<modal-createPanel (dataEvent)="reload()" *ngIf="this.dataService.panels.length==0"></modal-createPanel>
<section *ngIf="this.dataService.panels.length==0 && this.dataService.userData.id>0" class="container nopanel">
    <h1 *ngIf="this.dataService.userData.name != '' ">Bienvenido {{this.dataService.userData.name}} <button (click)="closeSes()">Cerrar sesión</button></h1>
    <button data-bs-toggle="modal" data-bs-target="#createPanel">Crea un panel</button>
    <button (click)="reloadPanels()">Buscar Paneles</button>
    <div *ngIf="loading" class="spinner-border" role="status"></div>
    <p *ngIf="error" class="error" id="error">No se encontró ningún panel</p>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>



<section *ngIf="this.dataService.panels.length>0 && this.dataService.userData.id>0" class="container p-0">
    <div class="main-box">
        <div class="filter">
            <div>
                <p>País</p>
                <select (change)="filter($event)">
                    <option value="">Selecciona un país</option>
                    <option  *ngFor="let country of countryKeys() " value="{{country}}">{{country}}</option>
                </select>
            </div>

        </div>
        <div class="multichartBox">
            <div class="chartBox" id="chartdev">
                <h1>Dispositivos</h1>
                <div *ngIf="initialLoading" class="spinner-border color-blue" role="status"></div>
                <div class="noDevice" *ngIf="backUpdevices.length==0 && !initialLoading">
                  <td colspan="4" style="padding: 12px;font-size: 1.2em;border-radius: 7px">No hay dispositivos</td>
                </div>
                <apx-chart  *ngIf="backUpdevices.length>0"
                  [series]="devchartOptions['series']"
                  [chart]="devchartOptions['chart']"
                  [labels]="devchartOptions['labels']"
                  [responsive]="devchartOptions['responsive']"
                  [colors]="devchartOptions['colors']"
                  [fill]="devchartOptions['fill']"
                  [stroke]="devchartOptions['stroke']"
                  [dataLabels]="devchartOptions['dataLabels']"
                  [legend]="devchartOptions['legend']"
                  [plotOptions]="devchartOptions"
                ></apx-chart>
            </div>

            <div class="chartBox" id="chartcountryzones">
                <h1>Zonas de riego por país</h1>
                <div *ngIf="initialLoading" class="spinner-border color-blue" role="status"></div>
                <div class="noDevice" *ngIf="backUpZones.length==0 && !initialLoading">
                    <td colspan="4" style="padding: 12px;font-size: 1.2em;border-radius: 7px">No hay zonas</td>
                </div>
                <apx-chart *ngIf="backUpdevices.length>0"
                [title]="zonechartOptions['title']"
                  [series]="zonechartOptions['series']"
                  [chart]="zonechartOptions['chart']"
                  [labels]="zonechartOptions['labels']"
                  [responsive]="zonechartOptions['responsive']"
                  [fill]="devchartOptions['fill']"
                  [stroke]="devchartOptions['stroke']"
                  [dataLabels]="devchartOptions['dataLabels']"
                  [legend]="devchartOptions['legend']"
                ></apx-chart>
            </div>
        </div>
        <div class="chartBox adpatedchart">
            <h1>Lista de dispositivos</h1>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Zona de riego</th>
                        <th>País</th>
                        <th>Última actualización de datos</th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngIf="initialLoading"><td colspan="4" class="text-center"> <div class="spinner-border color-blue" role="status"></div></td></tr>
                    <tr class="noDevice" *ngIf="backUpdevices.length==0 && !initialLoading">
                        <td colspan="4">No hay dispositivos</td>
                    </tr>
                    <tr style="cursor: pointer;" *ngFor="let dev of backUpdevices"  [routerLink]='["/zones"]' [state]="{ name:dev.zone}">
                        <td>{{dev.name}}</td>
                        <td>{{dev.zone.name}}</td>
                        <td>{{dev.zone.country}}</td>
                        <td *ngIf='dev.info && dev.info.data[dev.types[0].name]!= undefined && dev.info.data[dev.types[0].name]!="camera" && dev.info.data[dev.types[0].name]!="irrigate"'>{{getDate2(dev.info.data[dev.types[0].name].date)
                        }}</td>
                        <td *ngIf='!dev.info || dev.info.data[dev.types[0].name]== undefined || dev.info.data[dev.types[0].name]=="camera"|| dev.info.data[dev.types[0].name]=="irrigate"'>Sin datos</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <app-advisor [advices]="advises"></app-advisor>
    </div>
</section>
