<div class="main-box" *ngIf="this.dataService.actPanel.id >0">
    <ul class="menu">
        <li *ngIf="checkPerms(['admin'])" (click)="changePanel($event)" class="nav-item active"><i class="bi bi-columns"></i>Panel</li>
        <li id="UsersbutConfig" (click)="changePanel($event)" class="nav-item"><i class="bi bi-people-fill"></i>Usuarios</li>
    </ul>

    <section id="panel" *ngIf="activePanel=='Panel' && checkPerms(['admin'])">
        <h3>Configuración del Panel <button (click)="this.delete=true" class="remove"><i class="bi bi-trash-fill"></i> Eliminar</button></h3>
        <form novalidate [formGroup]="panelform" (ngSubmit)="editPanel()">
            <label for="name">
                <p>Nombre</p>
                <input class="form-control" (keyup)="checkvalid($event)" type="text" minlength="2" maxlength="50" name="name" id="name" formControlName="name" placeholder="Nombre" required>
            </label>
            <label for="name">
                <p>Diferencia de días desde el último envío de información de un dispositivo</p>
                <div class="internalbox">
                    <input class="form-control" (keyup)="checkvalid($event)" type="number" min="0" name="diference_days" id="diference_days" formControlName="diference_days" placeholder="Días" required>
                    <select id="dayMultiplier">
                        <option selected value="1">Días</option>
                        <option value="31">Meses</option>
                        <option value="365">Años</option>
                    </select>
                </div>

            </label>
            <p *ngIf="error" class="error" id="error">{{errorMessage}}</p>
            <input class="btn" type="submit" value="Editar" [disabled]="!panelform.valid">
        </form>
    </section>


    <section id="users" *ngIf="activePanel=='Usuarios'">
        <h3>Administrador de usuarios</h3>
        <button *ngIf="checkPerms(['admin'])" class="btn2" (click)="this.showUser=true"><i class="bi bi-plus"></i>Añadir usuario</button>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>email</th>
                    <th>Tipo de usuario</th>
                    <th>Acciones</th>
                  </tr>
            </thead>
            <tbody *ngIf="checkPerms(['admin'])">
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td *ngIf="user.pivot['admin']=='1'">Administrador</td>
                    <td *ngIf="user.pivot['admin']!='1'">Usuario</td>
                    <td>
                        <button class="edited" (click)="changeEditedUser(user)">Editar permisos</button>
                        <button (click)="deleteUserPanel(user)" *ngIf="this.dataService.userData.id!=user.id" class="delete">Quitar Usuario</button>
                        <button (click)="deleteUserPanel(user)" *ngIf="this.dataService.userData.id==user.id" class="delete">Salir del panel</button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="!checkPerms(['admin'])">
                <tr>
                    <td>{{this.dataService.userData.name}}</td>
                    <td>{{this.dataService.userData.email}}</td>
                    <td>Usuario</td>
                    <td>
                        <button (click)="deleteUserPanel(this.dataService.userData)" class="delete">Salir del panel</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </section>
    <app-delete  (closeEvent)="this.delete=false" *ngIf="this.delete" [item]="this.dataService.actPanel" [text]='text'></app-delete>
    <app-general-form *ngIf="this.showUser" (closeEvent)="this.showUser=false" [elements]="userElements" [formGroup]="userFormGroup" [title]="'Crear panel'" [error]="errorMessage" (submited)="addUserPanel($event)"></app-general-form>
    <app-general-form *ngIf="this.showPerms" (closeEvent)="this.showPerms=false" [elements]="permsElements" [formGroup]="permsFormGroup" [title]="'Editar permisos de'" [editedItem]="this.editedUser" [error]="errorMessage" (submited)="editPerms($event)"></app-general-form>
</div>
