<div class="main-box">
    <module-zone-edit *ngIf="backUpZones != undefined && isButtonVisible(['admin','zones'])" (dataEvent)="updateZone($event)"></module-zone-edit>
    <div class="filter">
        <div>
            <p>Nombre de zona</p>
            <input id="filtername" type="text" min="0" max="50" (keyup)="filter($event)">
        </div>
        <div>
            <p>País</p>
            <select id="filtercountry" (change)="filter($event)">
                <option value="">Selecciona un país</option>
                <option  *ngFor="let country of countries " value="{{country}}">{{country}}</option>
            </select>
        </div>

    </div>
    <div class="zone-box">
        <h3>Lista de zonas</h3>
        <button *ngIf="isButtonVisible(['zones','admin'])" class="btn" data-bs-toggle="modal" data-bs-target="#EditZone"><i class="bi bi-plus"></i>Crear Zona</button>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>País</th>
                  </tr>
            </thead>
            <tbody>
                <tr (click)="openZonesInfo(zone)" *ngFor="let zone of backUpZones">
                    <td style="display: none;">{{zone.id}}</td>
                    <td>{{zone.name}}</td>
                    <td>{{zone.country}}</td>
                </tr>
                <tr *ngIf="initialLoading"><td colspan="4" class="text-center"> <div class="spinner-border color-blue" role="status"></div></td></tr>
                <tr class="noZone" *ngIf="backUpZones.length==0 && !initialLoading">
                    <td colspan="4">No hay zonas</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div id="map"></div>
    <app-zone-info (close)="resetZone()" *ngIf="this.dataService.actZone.id>0 && this.loadedDevices "></app-zone-info>
    <modal-adviselist *ngIf="this.dataService.actZone.id>0 && this.loadedDevices"></modal-adviselist>
    <modal-devlist  (dataEvent)="changeDevice($event)"></modal-devlist>
    <modal-createDev (delete)="deleteDevice($event)" (dataEvent2)="changeDevice($event)" (dataEvent)="addDevice($event)" ></modal-createDev>
    <modal-camera-list [devices]="this.dataService.devices"></modal-camera-list>
</div>
